# VacationPy

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

In [12]:
#  Store Part I results into DataFrame

# Load the csv exported in Part I to a DataFrame

cities_df = pd.read_csv("../output_data/cities.csv")
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kendari,-3.9450,122.4989,83.82,73,100,1.52,ID,1612415811
1,Saint-Philippe,-21.3585,55.7679,86.00,62,0,19.57,RE,1612415966
2,Khatanga,71.9667,102.5000,-24.03,85,12,12.12,RU,1612415966
3,Kirakira,-10.4544,161.9205,80.13,83,100,14.23,SB,1612415966
4,Departamento de Maldonado,-34.6667,-54.9167,69.01,100,75,16.11,UY,1612415906
...,...,...,...,...,...,...,...,...,...
534,Sovetskaya,44.7769,41.1722,45.82,63,100,4.00,RU,1612416130
535,Zerbst,51.9667,12.0833,41.00,95,100,1.01,DE,1612416130
536,Richards Bay,-28.7830,32.0377,75.27,89,100,5.19,ZA,1612416130
537,Kamaishi,39.2667,141.8833,24.80,93,75,9.22,JP,1612416131
538,Repatriación,-25.5333,-55.9500,71.65,97,98,4.61,PY,1612416131

In [13]:
#  Humidity Heatmap

# Configure gmaps.
gmaps.configure(api_key=gkey)

In [14]:
# Use the Lat and Lng as locations and Humidity as the weight.
locations = cities_df[["Lat","Lng"]]
humidity = cities_df["Humidity"].astype(float)

In [29]:
# Add Heatmap layer to map.
fig = gmaps.figure()

hum_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=500,
                                 point_radius = 9)

fig.add_layer(hum_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Create new DataFrame fitting weather criteria

# Narrow down the cities to fit weather conditions.
# Drop any rows will null values.
nice_cities_df = cities_df.dropna(how="any")
nice_cities_df = nice_cities_df.loc[(nice_cities_df["Max Temp"]>= 80)&(nice_cities_df["Wind Speed"]<10)
                                    &(nice_cities_df["Cloudiness"]<=25)]
nice_cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
20,Manakara,-22.1333,48.0167,81.61,78,6,1.81,MG,1612415970
75,Port Macquarie,-31.4333,152.9167,82.99,51,3,4.00,AU,1612415984
86,Avarua,-21.2078,-159.7750,82.40,74,10,5.75,CK,1612415986
90,Grand Gaube,-20.0064,57.6608,84.00,74,0,8.01,MU,1612415989
137,Coolum Beach,-26.5333,153.1000,82.99,70,7,3.00,AU,1612416005
197,Cap Malheureux,-19.9842,57.6142,84.00,74,6,8.01,MU,1612416030
257,Marawi,7.9986,124.2928,81.00,82,13,5.99,PH,1612416051
310,Zhuhai,22.2769,113.5678,82.00,56,0,2.30,CN,1612416067
423,Beaufort,5.3473,115.7455,84.20,79,20,5.75,MY,1612416102
463,Beroroha,-21.6667,45.1667,82.29,62,21,6.22,MG,1612416113
484,Palauig,15.4350,119.9045,83.95,56,4,5.99,PH,1612416118

In [31]:
# Hotel Map

# Store into variable named hotel_df.

hotel_df = nice_cities_df
# Add a "Hotel Name" column to the DataFrame.

# Found function from https://stackoverflow.com/questions/16327055/how-to-add-an-empty-column-to-a-dataframe
hotel_df["Hotel Name"] = np.nan

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
20,Manakara,-22.1333,48.0167,81.61,78,6,1.81,MG,1612415970,NaN
75,Port Macquarie,-31.4333,152.9167,82.99,51,3,4.00,AU,1612415984,NaN
86,Avarua,-21.2078,-159.7750,82.40,74,10,5.75,CK,1612415986,NaN
90,Grand Gaube,-20.0064,57.6608,84.00,74,0,8.01,MU,1612415989,NaN
137,Coolum Beach,-26.5333,153.1000,82.99,70,7,3.00,AU,1612416005,NaN
197,Cap Malheureux,-19.9842,57.6142,84.00,74,6,8.01,MU,1612416030,NaN
257,Marawi,7.9986,124.2928,81.00,82,13,5.99,PH,1612416051,NaN
310,Zhuhai,22.2769,113.5678,82.00,56,0,2.30,CN,1612416067,NaN
423,Beaufort,5.3473,115.7455,84.20,79,20,5.75,MY,1612416102,NaN
463,Beroroha,-21.6667,45.1667,82.29,62,21,6.22,MG,1612416113,NaN
484,Palauig,15.4350,119.9045,83.95,56,4,5.99,PH,1612416118,NaN

In [32]:
# Set parameters to search for hotels with 5000 meters.


# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.


# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "best hotel",
    "keyword": "hotel",
    "key": gkey
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel Name" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    

    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
fig

Missing field/result... skipping.

Figure(layout=FigureLayout(height='420px'))

In [33]:
hotel_df.dropna()
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
20,Manakara,-22.1333,48.0167,81.61,78,6,1.81,MG,1612415970,Hotel H1 Manakara
75,Port Macquarie,-31.4333,152.9167,82.99,51,3,4.00,AU,1612415984,Port Macquarie Hotel
86,Avarua,-21.2078,-159.7750,82.40,74,10,5.75,CK,1612415986,Club Raro Resort
90,Grand Gaube,-20.0064,57.6608,84.00,74,0,8.01,MU,1612415989,LUX Grand Gaube Resort & Villas
137,Coolum Beach,-26.5333,153.1000,82.99,70,7,3.00,AU,1612416005,The Point Coolum Beach - Ocean View Accommodation
197,Cap Malheureux,-19.9842,57.6142,84.00,74,6,8.01,MU,1612416030,LUX Grand Gaube Resort & Villas
257,Marawi,7.9986,124.2928,81.00,82,13,5.99,PH,1612416051,Marawi Resort Hotel
310,Zhuhai,22.2769,113.5678,82.00,56,0,2.30,CN,1612416067,2000 Year's Hotel
423,Beaufort,5.3473,115.7455,84.20,79,20,5.75,MY,1612416102,The Gem Hotel Beaufort
463,Beroroha,-21.6667,45.1667,82.29,62,21,6.22,MG,1612416113,NaN
484,Palauig,15.4350,119.9045,83.95,56,4,5.99,PH,1612416118,Blue Spruce Beach Resort

In [35]:
# Plot markers on top of the heatmap.

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))